---
title: Tuyệt mật trong buồng lái - Patrick Smith
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<header class="wrap-header affix-top">
            {{#block "b-tiki"}}
                {{> b-tiki }}
            {{/block}}
        </header>
        <main>
            {{#block "b-introduction"}}
                {{> b-introduction }}
            {{/block}}
            {{#block "b-author"}}
                {{> b-author }}
            {{/block}}
            {{#block "b-featured"}}
                {{> b-featured }}
            {{/block}}
            {{#block "b-testimonials"}}
                {{> b-testimonials }}
            {{/block}}
            {{#block "b-about"}}
                {{> b-about }}
            {{/block}}
        </main>

        <footer class="wrap-footer">
            {{#block "b-tiki-footer"}}
                {{> b-tiki-footer }}
            {{/block}}
        </footer>
	{{/content}}
{{/extend}}
