---
title: Tuyệt mật trong buồng lái - Patrick Smith
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<header>

        </header>
        <main>
            {{#block "b-introduction"}}
                {{> b-introduction }}
            {{/block}}
            {{#block "b-author"}}
                {{> b-author }}
            {{/block}}
            <section class="container-fluid">
                <div class="row">
                    <div class=""></div>
                </div>
            </section>
        </main>
        <footer>

        </footer>
	{{/content}}
{{/extend}}
