{{! ---
block: about
============================================

--- }}

<section class="b-about">
    <div class="container">
        <div class="row valign">
            <div class="col-md-5 col-sm-4">
                <div class="text-about">
                    <h2>VỀ <img srcset="img/logo-rosebook25.png, img/logo-rosebook25-2x.png 2x" alt="RoseBooks' logo"></h2>
                    <p class="matb18">Khởi đầu từ quyển sách <em>“Những người tạo ra hiện thực</em>, <img srcset="img/logo-rosebook25.png, img/logo-rosebook25-2x.png 2x" alt="RoseBooks' logo" height="18">
                    tập trung phát triển những tác phẩm đương đại từ các tác gia khắp thế giới,
                    họ đặt lại những vấn đề cũ theo một cách thú vị, nghiêm túc và tập trung
                    vào tương tác giữa cá thể và môi trường sống xung quanh. Các ấn phẩm từ  <img srcset="img/logo-rosebook25.png, img/logo-rosebook25-2x.png 2x" alt="RoseBooks' logo" height="18">
                    hứa hẹn mang đến cho độc giả những điều mới lạ trong các chủ để quen thuộc,
                    những suy nghĩ mới từ các quan niệm hiện có, từ đó tác động tích cực đến sự
                    phát triển và cuộc sống tinh thần của mỗi cá nhân.</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-8">
                <div class="series">
                    <img srcset="img/collection.jpg, img/collection@2x.jpg 2x" alt="RoseBooks' Collection">
                </div>
            </div>
        </div>
    </div>
</section>
