{{! ---
block: author
============================================

--- }}

<section class="b-author">
    <div class="container-fluid">
        <div class="row valign">
            <div class="col-lg-4 col-md-5 col-sm-6 no-padding">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="img/temp/pictures/patrick-smith-480.jpg, img/temp/pictures/patrick-smith-480_2x.jpg 2x" media="(min-width: 768px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="img/temp/pictures/patrick-smith-320.jpg, img/temp/pictures/patrick-smith-320_2x.jpg 2x" alt="Patrick Smith">
                </picture>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="content">
                    <h2>VỀ TÁC GIẢ</h2>
                    <div class="text-justify">
                        <p class="matb18">Patrick Smith là phi công, blogger và tác giả chuyên viết về hàng không dân dụng. Trong mười năm, ông là tác giả của của loạt bài viết phổ biến về hàng không dân dụng Ask the Pilot. Ông đã xuất hiện trên trên hơn hai trăm đài phát thanh và truyền hình. Tác phẩm của ông thường xuyên được trích dẫn trong các ấn phẩm in trên toàn thế giới. Ông có vốn hiểu biết sâu sắc về ngành hàng không và khả năng truyền tải kiến thức hài hước. Năm 2013, ông được TIME bầu chọn là một trong “25 blogger hay nhất của năm 2013”.</p>
                        <p class="matb18">Theo dõi các bài viết mới nhất và đặt câu hỏi cho tác giả tại <a href="http://www.askthepilot.com">www.askthepilot.com</a></p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-cta btn-light">ĐẶT MUA NGAY</button>
                        <button type="button" class="btn btn-cta btn-light">MUA EBOOK</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
