{{! ---
block: featured
============================================

--- }}

<section class="b-featured">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>NỘI DUNG NỔI BẬT</h2>
                <div class="question shadow text-uppercase">Sự Thật Về Việc Cấm Các Thiết Bị Điện Tử Trên Máy Bay
                </div>
                <div class="separator"><hr></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 answer shadow text-justify">
                <p>Có thể điện thoại di động đã góp vai trò trong ít nhất hai tai nạn nghiêm trọng: vụ rơi máy bay của hãng Crossair ở Thụy Sĩ năm 2000 và tai nạn máy bay thảm khốc ở New Zealand năm 2003. Dùng từ “có thể” ở đây vì không thể tìm được bằng chứng cho ảnh hưởng của việc nhiễu sóng lên hệ thống điện tử trên máy bay và việc không tìm ra nguyên nhân nào khác khiến máy bay gặp nạn.</p>
                <p>Vậy các thiết bị điện tử có thật sự nguy hiểm đối với chuyến bay không?</p>
            </div>
            <div class="col-sm-4 answer shadow text-justify">
                <p><strong>Máy tính xách tay</strong>  và <strong>máy tính bảng</strong>. Theo lý thuyết, một thiết bị điện tử đời cũ <em>có thể</em> phát ra năng lượng có hại. Tuy nhiên, nguyên nhân chính của việc phải cất máy tính xách tay và máy tính bảng khi cất cánh và hạ cánh là để ngăn chúng không trở thành những đầu đạn tốc độ cao khi giảm tốc hay có va chạm đột ngột và giữ cho lối đi thông thoáng trong trường hợp sơ tán. Tất nhiên bạn không muốn mọi người vấp phải chiếc MacBook của họ khi lao đến cửa thoát hiểm trong trường hợp khẩn cấp. Hoặc một chiếc iPad bay thẳng vào trán bạn ở tốc độ gần 300km/h khi máy bay đột ngột giảm tốc.</p>
            </div>
            <div class="col-sm-4 answer shadow text-justify">
                <p>Về <strong>điện thoại di động</strong>. Truyền phát sóng di động có <em>thực sự</em> làm nhiễu các thiết bị trong buồng lái không? Câu trả lời là có thể có, nhưng phần lớn khả năng là không, và các hãng hàng không chỉ đang đi theo hướng thà-an-toàn-còn-hơn-hối-tiếc. Thật ra, hệ thống điện tử trên máy bay khi được thiết kế và bảo vệ đều tính đến nhiễu sóng. Nhưng ai mà biết được. Nếu hệ thống bảo vệ của máy bay đã cũ và trục trặc, thì sẽ có nguy cơ xảy ra vấn đề.</p>
                <p>Điện thoại ngay cả khi không dùng đến thì chế độ bật của nó vẫn phát ra những luồng năng lượng có khả năng gây nhiễu. Vì lý do này, chúng phải được tắt trước khi máy bay lăn bánh. Quy định này luôn được thông báo trước và trong chuyến bay nhưng hầu hết mọi người không tuân theo. Chúng ta đoán rằng rủi ro là rất nhỏ, nếu không thì nhân viên hàng không đã tịch thu hoặc kiểm tra kỹ điện thoại thay vì tin vào tinh thần tự giác của hành khách.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-cta btn-dark">ĐẶT MUA NGAY</button>
            </div>
        </div>
    </div>
</section>
