{{! ---
block: featured
============================================

--- }}

<section class="b-featured">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>NỘI DUNG NỔI BẬT</h2>
                <div class="question shadow">Làm thế nào những chiếc máy bay khổng lồ vẫn có thể ở trên không<br>khi chở hàng tấn hàng hóa và cả trăm con người được?</div>
                <div class="separator"><hr></div>
                <div class="answer shadow">Mặc dù việc đưa được hàng trăm ngàn kilôgram máy móc lên trời có thể được xem là<br>kì diệu, nếu không muốn nói là một phép màu, thì cách nó vận hành lại cơ bản và dễ minh họa<br>một cách đáng ngạc nhiên.</div>
                <button type="button" class="btn btn-cta btn-dark">ĐẶT MUA NGAY</button>
            </div>
        </div>
    </div>
</section>
