{{! ---
block: introduction
============================================

--- }}

<section class="b-introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1>TUYỆT MẬT TRONG BUỒNG LÁI</h1>
                <div class="matb18"><em>Tuyệt mật trong buồng lái</em> bắt đầu bằng một tiền đề đơn giản: mọi điều bạn nghĩ là mình biết về hàng không đều là sai lầm. Hàng không thương mại đang là một con mồi béo bở cho những thông tin sai lệch, và thật đáng giật mình khi thấy những  thần thoại, lối ngụy biện, và thuyết âm mưu được bao bọc trong sự sáng suốt. Điều này không có gì đáng ngạc nhiên. Đi máy bay là một việc phức tạp, bất tiện, và thường là đáng sợ đối với hàng triệu người, và đồng thời nó lại bị bao phủ bởi bức tường của thuật ngữ chuyên ngành, tính kiệm lời của các hãng hàng không, và truyền thông vô trách nhiệm.</div>
                <div class="matb18">Tác giả sẽ không đề cập nhiều đến phụ tùng và ốc vít, mà là cái nhìn sâu sắc , chu đáo, hài hước, để giải thích tất cả những gì bạn cần biết là:
                    <ul>
                        <li>Làm thế nào một chiếc máy bay có thể bay?</li>
                        <li>Sự thật đằng sau những lần tắc nghẽn và hoãn chuyến tại sân bay.</li>
                        <li>An ninh hàng không đang gặp khủng hoảng?</li>
                        <li>Vì sao thiết bị điện tử luôn bị cấm sử dụng trên máy bay?</li>
                    </ul>
                Và còn nhiều bức màn bí ẩn khác sẽ được giải mã trong quyển sách này.
                </div>
                <button type="button" class="pull-right btn btn-cta btn-dark">ĐẶT MUA NGAY</button>
            </div>
            <div class="col-md-6 col-sm-6">
                <img src="img/cockpit.png">
            </div>
        </div>
    </div>
</section>
