{{! ---
block: introduction
============================================

--- }}

<section class="b-introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h1>TUYỆT MẬT TRONG BUỒNG LÁI</h1>
                <h3>Mọi điều cần biết về hàng không dân dụng<br/>
                Hỏi, đáp và suy ngẫm</h3>
                <em>Những chiếc máy bay đã từng làm say mê trái tim thơ trẻ của bạn. Ngày còn nhỏ bạn ngẩn ngơ ngắm chúng bay ngang bầu trời cùng bao câu hỏi và thắc mắc về chúng. Quyển sách sẽ là cầu nối giữa bạn và những con chim sắt biết bay kia. Sẽ bật mí những bí mật về ngành hàng không và nhiều thông tin thú vị khác</em>

            </div>
            <div class="col-md-4 col-sm-6">
                <img src="img/cockpit.png">
            </div>
        </div>
    </div>
</section>
