{{! ---
block: testimonials
============================================

--- }}

<section class="b-testimonials">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">“Quyển sách dành cho bất cứ ai quan tâm đến du lịch hàng không.<br>
                        Tác giả đã mang đến những hiểu biết tuyệt vời xen lẫn nhiều yếu tố hài hước.”</div>
                    <picture class="amazon-logo">
                        <img src="img/patrick-smith.jpg">
                    </picture>
                    <div class="reviewer">Độc giả bellarmine22 — [Amazon]</div>
                </div>
            </div>
        </div>
    </div>
</section>
