{{! ---
block: testimonials
============================================

--- }}

<section class="b-testimonials">
    <div class="container-fluid">
        <div class="owl-carousel owl-theme">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">“Quyển sách dành cho bất cứ ai quan tâm đến hàng không dân dụng.<br>
                        Tác giả đã mang đến những hiểu biết tuyệt vời xen lẫn nhiều yếu tố hài hước.”</div>
                        <img srcset="img/amazon-logo.png, img/amazon-logo@2x.png 2x" alt="amazon 1" class="amazon-logo">
                    </picture>
                    <div class="reviewer">Độc giả bellarmine22 — [Amazon]</div>
                    <div class="separator"><hr></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">“Quyển sách dành cho bất cứ ai quan tâm đến hàng không dân dụng.<br>
                        Tác giả đã mang đến những hiểu biết tuyệt vời xen lẫn nhiều yếu tố hài hước.”</div>
                    <img srcset="img/amazon-logo.png, img/amazon-logo@2x.png 2x" alt="amazon 1" class="amazon-logo">
                    <div class="reviewer">Độc giả bellarmine22 — [Amazon]</div>
                    <div class="separator"><hr></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>LỜI NHẬN XÉT</h2>
                    <div class="quote">“Quyển sách dành cho bất cứ ai quan tâm đến hàng không dân dụng.<br>
                        Tác giả đã mang đến những hiểu biết tuyệt vời xen lẫn nhiều yếu tố hài hước.”</div>
                    <img srcset="img/amazon-logo.png, img/amazon-logo@2x.png 2x" alt="amazon 1" class="amazon-logo">
                    <div class="reviewer">Độc giả bellarmine22 — [Amazon]</div>
                    <div class="separator"><hr></div>
                </div>
            </div>
        </div>
    </div>
</section>
