{{! ---
block: testimonials
============================================

--- }}

<section class="b-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <picture class="author-portrait">
                   <img src="img/patrick-smith.jpg">
                </picture>
            </div>
            <div class="col-md-6 col-sm-6">
                <h2>VỀ TÁC GIẢ</h2>
                <p class="matb18">Patrick Smith là phi công, blogger và tác giả chuyên viết về hàng không dân dụng. Trong mười năm, ông là tác giả của của loạt bài viết phổ biến về du lịch hàng không Ask the Pilot. Ông đã xuất hiện trên trên hơn hai trăm đài phát thanh và truyền hình. Tác phẩm của ông thường xuyên được trích dẫn trong các ấn phẩm in trên toàn thế giới. Ông có vốn hiểu biết sâu sắc về ngành hàng không và khả năng truyền tải kiến thức hài hước. Năm 2013, ông được TIME bầu chọn là một trong “25 blogger hay nhất của năm 2013”.</p>
                <p class="matb18">Theo dõi các bài viết mới nhất và đặt câu hỏi cho tác giả tại <a href="http://www.askthepilot.com">www.askthepilot.com</a></p>
                <button type="button" class="pull-right btn btn-cta btn-light">ĐẶT MUA NGAY</button>
            </div>
        </div>
    </div>
</section>
