{{! ---
block: tiki-footer
============================================

--- }}
<a href="#" class="to-top">Lên đầu Trang</a>
<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 footer-nav">
                        <h4 class="hidden-xs hidden-sm">Hỗ trợ khách hàng</h4>
                        <ul>
                            <li class="hidden-md hidden-lg footer-cart js-footer-cart">
                                <a href="http://tiki.vn/checkout/cart">Giỏ hàng (<span>0</span>)</a>
                            </li>
                            <li class="footer-phone">
                                <a href="tel:19006035">
                                    <span class="footer-hotline">Hotline: 1900-6035</span>
                                    <span class="footer-price">(1000đ/phút <span class="hidden-xs hidden-sm">, 8-21h kể cả T7, CN</span>)</span>
                                </a>
                            </li>
                            <li class="footer-link-mobile footer-faq first">
                                <a href="http://hotro.tiki.vn/hc/vi" target="_blank" title="Các câu hỏi thường gặp">Các câu hỏi thường gặp</a>
                            </li>
                            <li class="hidden-xs hidden-sm">
                                <a href="http://hotro.tiki.vn/hc/vi/requests/new" target="_blank" title="Email">Gửi email tới hotro@tiki.vn</a>
                            </li>
                            <li class="footer-link-mobile footer-help">
                                <a href="http://hotro.tiki.vn/hc/vi/categories/200126644" target="_blank" title="Hướng dẫn đặt hàng">Hướng dẫn đặt hàng</a>
                            </li>
                            <li class="footer-link-mobile footer-transport">
                                <a href="http://hotro.tiki.vn/hc/vi/categories/200123960" target="_blank" title="Phương thức vận chuyển">Phương thức vận chuyển</a>
                            </li>
                            <li class="footer-link-mobile footer-refund last">
                                <a href="http://tiki.vn/doi-tra-de-dang" target="_blank" title="Chính sách đổi trả hàng">Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-nav footer-account is-user">
                        <h4><a href="http://tiki.vn/customer/account">Tài khoản của bạn</a></h4>
                        <ul>
                            <li>
                                <a href="http://tiki.vn/sales/order/history" title="Lịch sử đơn hàng">Lịch sử đơn hàng</a>
                            </li>
                            <li>
                                <a href="http://tiki.vn/sales/order/tracking" title="Xem trạng thái đơn hàng">Trạng thái đơn hàng</a>
                            </li>
                            <li>
                                <a class="js-logout" href="#redirect_popup" title="Thoát">Thoát</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-nav footer-account is-guest" style="display: block;">
                        <h4 class="hidden-xs hidden-sm"><a>Tài khoản của bạn</a></h4>
                        <ul>
                            <li>
                                <a href="#login-form" class="js-login" title="Đăng nhập">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="#register-form" class="js-register" title="Đăng ký">Đăng ký</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 footer-nav hidden-xs hidden-sm">
                        <h4>Về Tiki.vn</h4>
                        <ul>
                            <li>
                                <a target="_blank" href="http://tiki.vn/gioi-thieu-ve-tiki" title="Giới thiệu Tiki.vn">Giới thiệu Tiki.vn</a>
                            </li>
                            <li>
                                <a href="http://tuyendung.tiki.vn" target="_blank" title="Tuyển dụng">Tuyển Dụng</a>
                            </li>
                            <li>
                                <a href="http://hotro.tiki.vn/hc/vi/articles/202216110" target="_blank" title="Chính sách bảo mật">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="http://hotro.tiki.vn/hc/vi/articles/201971214" target="_blank" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                            </li>
                            <li>
                                <a href="http://hoisachonline.tiki.vn" target="_blank" title="Hội Sách">Hội Sách Online</a>
                            </li>
                            <li>
                                <a href="http://hotro.tiki.vn/hc/vi/articles/204153170-Các-bước-sử-dụng-Tiki-xu-và-Mã-giảm-giá" target="_blank" title="Giới thiệu Tiki Xu">Giới thiệu Tiki Xu</a>
                            </li>
                            <li>
                                <a href="http://tiki.vn/tu-van" target="_blank" title="Tiki Tư Vấn">Tiki Tư Vấn</a>
                            </li>
                            <li>
                                <a href="http://tiki.vn/sach-b2b" target="_blank" title="Ưu đãi doanh nghiệp">Ưu đãi doanh nghiệp</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 footer-nav hidden-xs hidden-sm">
                        <h4>Hợp tác &amp; Liên kết</h4>
                        <ul>
                            <li>
                                <a title="Bán hàng cùng Tiki.vn" href="http://tiki.vn/market-place" target="_blank">Bán hàng cùng Tiki.vn</a>
                            </li>
                            <li>
                                <a title="Quy chế hoạt động Sàn giao dịch TMĐT của Tiki.vn" href="http://tiki.vn/quy-che-hoat-dong-sgdtmdt" target="_blank">Quy chế hoạt động Sàn GDTMĐT</a>
                            </li>
                            <li>
                                <a title="Ăn gì ở đâu" href="http://www.foody.vn" target="_blank">Foody.vn - Ăn gì ở đâu</a>
                            </li>
                            <li>
                                <a title="Đặt khách sạn giá rẻ" href="http://www.ivivu.com" target="_blank">iVIVU.com - Đặt khách sạn giá rẻ </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-facebook hidden-xs hidden-sm">
                    <div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/tiki.vn" data-send="false" data-width="250" data-height="70" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=220558114759707&amp;container_width=263&amp;height=70&amp;href=https%3A%2F%2Fwww.facebook.com%2Ftiki.vn&amp;locale=vi_VN&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=250"><span style="vertical-align: bottom; width: 250px; height: 65px;"><iframe name="f198b85918" width="250px" height="70px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="http://www.facebook.com/v2.3/plugins/like.php?app_id=220558114759707&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FYKPvjVoWVGb.js%3Fversion%3D41%23cb%3Df1f2562708%26domain%3Dtiki.vn%26origin%3Dhttp%253A%252F%252Ftiki.vn%252Ff3f7307ebc%26relation%3Dparent.parent&amp;container_width=263&amp;height=70&amp;href=https%3A%2F%2Fwww.facebook.com%2Ftiki.vn&amp;locale=vi_VN&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=250" style="border: none; visibility: visible; width: 250px; height: 65px;" class=""></iframe></span></div>
                </div>
                <div class="newsletter">
                    <form novalidate="" target="_blank" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://tiki.us1.list-manage2.com/subscribe/post?u=f84bf8630f9ae8fa4881df494&amp;id=b92ac69021">
                        <h4 class="js-newsletter-toggle">
                            <span>Cập nhật thông tin khuyến mãi</span>
                            <a class="toggle">
                                <i class="fa fa-angle-down"></i>
                                <i class="fa fa-envelope-o"></i>
                            </a>
                        </h4>
                        <div class="form-group">
                            <input type="email" id="mce-EMAIL" class="form-control" name="EMAIL" required="" placeholder="Email của bạn">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="form-control">
                                Đăng ký <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <ul class="footer-social hidden-xs hidden-sm">
                    <li>
                        <a href="http://www.youtube.com/user/TikiVBlog" title="Youtube" target="_blank"><i class="fa fa-youtube-play"></i>Youtube</a>
                    </li>
                </ul>
                <div class="footer-apps">
                    <p class="intro hidden-lg hidden-md">Tải ứng dụng Tiki.vn để mua hàng tiện lợi hơn</p>
                    <a href="https://play.google.com/store/apps/details?id=vn.tiki.app.tikiandroid" target="_blank">
                        <img alt="Get it on Google Play" src="http://tala.tikicdn.com/assets/img/google-play.svg">
                    </a>
                    <a href="https://itunes.apple.com/vn/app/id958100553" target="_blank">
                        <img src="http://tala.tikicdn.com/assets/img/app-store.svg">
                    </a>
                    <!-- <a href="https://mixpanel.com/f/partner" class="hidden-xs hidden-sm"><img style="padding-top: 5px;" src="/assets/img/badge_light.png" alt="Mobile Analytics"></a> -->
                </div>
            </div>
        </div>

        <div class="row hidden-xs hidden-sm js-footer-block-2">
            <div class="col-md-12">
                <div class="footer-link">
                    <h4>Danh mục và nhãn hàng được yêu thích</h4>
                    <ul>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/apple/dien-thoai-may-tinh-bang/dien-thoai-di-dong.html" title="iPhone" alt="iPhone"><i class="fa fa-caret-right"></i> iPhone</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/nokia/dien-thoai-may-tinh-bang/dien-thoai-di-dong.html" title="Điện Thoại Nokia" alt="Điện Thoại Nokia"><i class="fa fa-caret-right"></i> Điện Thoại Nokia</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/samsung/dien-thoai-may-tinh-bang/dien-thoai-di-dong.html" title="Điện Thoại Samsung" alt="Điện Thoại Samsung"><i class="fa fa-caret-right"></i> Điện Thoại Samsung</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/htc/dien-thoai-may-tinh-bang/dien-thoai-di-dong.html" title="Điện Thoại HTC" alt="Điện Thoại HTC"><i class="fa fa-caret-right"></i> Điện Thoại HTC</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/ca-phe-cung-tony-p113482.html" title="Nokia Lumia 625" alt="Cà Phê Cùng Tony"><i class="fa fa-caret-right"></i> Cà Phê Cùng Tony</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/samsung-galaxy-s6-edge-32gb-5-1-inch-4-nhan-x-1-5ghz-4-nhan-x-2-1ghz-32gb-16-0mp-2600mah-p131002.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Samsung Galaxy S6 Edge</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/tren-duong-bang-p151116.html" title="Tony Buổi Sáng - Trên Đường Băng" alt="Tony Buổi Sáng - Trên Đường Băng"><i class="fa fa-caret-right"></i> Tony Buổi Sáng - Trên Đường Băng</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/iphone-6-16gb-4-7-inch-2-nhan-1-4-ghz-16gb-8-0mp-1810mah-p120386.html" title="iPhone 6" alt="iPhone 6"><i class="fa fa-caret-right"></i> iPhone 6</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/samsung/dien-thoai-may-tinh-bang/may-tinh-bang.html" title="Máy Tình Bảng Samsung" alt="Máy Tình Bảng Samsung"><i class="fa fa-caret-right"></i> Máy Tính Bảng Samsung</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/apple/dien-thoai-may-tinh-bang/may-tinh-bang.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Máy Tính Bảng iPad</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/phu-kien-so/phu-kien-laptop-may-tinh/o-cung-di-dong-gan-ngoai.html" title="Ổ Cứng Di Động" alt="Ổ Cứng Di Động"><i class="fa fa-caret-right"></i> Ổ Cứng Di Động</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thiet-bi-kts-phu-kien-so/may-nghe-nhac-ipod.html" title="Máy Nghe Nhạc" alt="Máy Nghe Nhạc"><i class="fa fa-caret-right"></i> Máy Nghe Nhạc</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/sennheiser.html" title="Tai Nghe Sennheiser" alt="Tai Nghe Sennheiser"><i class="fa fa-caret-right"></i> Tai Nghe Sennheiser</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/phu-kien-so/phu-kien-dien-thoai-may-tinh-bang/pin-sac-du-phong.html" title="Pin Sạc Dự Phòng" alt="Pin Sạc Dự Phòng"><i class="fa fa-caret-right"></i> Pin Sạc Dự Phòng</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/skullcandy.html" title="Tai Nghe Skullcandy" alt="Tai Nghe Skullcandy"><i class="fa fa-caret-right"></i> Tai Nghe Skullcandy</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/dien-gia-dung/do-dung-nha-bep/bep-cac-loai/bep-hong-ngoai.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Bếp Hồng Ngoại</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/brother.html" title="Máy May Brother" alt="Máy May Brother"><i class="fa fa-caret-right"></i> Máy May Brother</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/dien-gia-dung/thiet-bi-gia-dinh/may-may-theu-vat-so.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Máy May Gia Đình</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/nha-cua-doi-song/sua-chua-nha-cua/may-khoan.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Máy Khoan Cầm Tay</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/dien-gia-dung/do-dung-nha-bep/binh-am/binh-dun-sieu-toc.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Bình Đun Siêu Tốc</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thiet-bi-van-phong-pham" title="Văn Phòng Phẩm" alt="Văn Phòng Phẩm"><i class="fa fa-caret-right"></i> Văn Phòng Phẩm</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/lamy.html" title="Bút Lamy" alt="Bút Lamy"><i class="fa fa-caret-right"></i> Bút Lamy</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/do-choi-qua-tang/do-choi.html" title="" alt="Product"><i class="fa fa-caret-right"></i> Đồ Chơi Trẻ Em</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/barbie.html" title="Búp Bê Barbie" alt="Búp Bê Barbie"><i class="fa fa-caret-right"></i> Búp Bê Barbie</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/lam-dep-suc-khoe/trang-diem.html" title="Mỹ Phẩm Trang Điểm" alt="Mỹ Phẩm Trang Điểm"><i class="fa fa-caret-right"></i> Mỹ Phẩm Trang Điểm</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/etude-house.html" title="Mỹ Phẩm Etude House" alt="Mỹ Phẩm Etude House"><i class="fa fa-caret-right"></i> Mỹ Phẩm Etude House</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thuong-hieu/mira.html" title="Mỹ Phẩm Mira" alt="Mỹ Phẩm Mira"><i class="fa fa-caret-right"></i> Mỹ Phẩm Mira</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/lam-dep-suc-khoe/nuoc-hoa/nuoc-hoa-nu.html" title="Nước Hoa Nữ<" alt="Nước Hoa Nữ<"><i class="fa fa-caret-right"></i> Nước Hoa Nữ</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/sach-truyen-tieng-viet/sach-van-hoc.html" title="Truyện Tiểu Thuyết" alt="Truyện Tiểu Thuyết"><i class="fa fa-caret-right"></i> Truyện Tiểu Thuyết</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/sach-truyen-tieng-viet/sach-kinh-te.html" title="Sách Kinh Tế" alt="Sách Kinh Tế"><i class="fa fa-caret-right"></i> Sách Kinh Tế</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/sach-truyen-tieng-viet/truyen-tranh.html" title="Truyện Tranh" alt="Truyện Tranh"><i class="fa fa-caret-right"></i> Truyện Tranh</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/author/nguyen-nhat-anh.html" title="Truyện Nguyễn Nhật Ánh" alt="Truyện Nguyễn Nhật Ánh"><i class="fa fa-caret-right"></i> Truyện Nguyễn Nhật Ánh</a>
                        </li>
                        <li>
                            <a href="http://tiki.vn/thiet-bi-kts-phu-kien-so/may-anh/may-chup-hinh-lay-lien.html" title="Máy Chụp Hình Lấy Liền" alt="Máy Chụp Hình Lấy Liền"><i class="fa fa-caret-right"></i> Máy Chụp Hình Lấy Liền</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="footer-address">
                    <p>© 2015 - Bản quyền của Công Ty Cổ Phần Ti Ki - Tiki.vn</p>
                    <p><strong>Địa chỉ gửi hàng đổi/trả/bảo hành:</strong> Trung Tâm Xử Lý Đơn Hàng TIKI, Lô II-1, đường CN1, Khu Công Nghiệp Tân Bình, phường Tây Thạnh, Quận Tân Phú, TP. Hồ Chí Minh (Tham khảo <a href="http://tiki.vn/hau-mai" target="_blank">hướng dẫn đổi, trả, bảo hành</a> hoặc liên hệ 1900-6035 để được hướng dẫn trước khi gửi sản phẩm về Tiki)</p>
                    <p>Địa chỉ văn phòng: 70 Lữ Gia, phường 15, Quận 11, TP. Hồ Chí Minh</p>
                    <p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</p>
                </div>
            </div>
            <div class="col-md-5 visible-md-block visible-lg-block">
                <div class="footer-certificate-box">
                    <a class="footer-trust" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=5782" title="Chứng nhận sàn giao dịch TMĐT">
                        <span>Được chứng nhận</span>
                        <img class="img-responsive" src="http://tala.tikicdn.com/assets/img/seal-ecommerce.png" alt="Chứng nhận sàn giao dịch TMĐT">
                    </a>
                    <a class="footer-payment" href="#" title="Thanh toán an toàn trên Tiki.vn">
                        <span>Cách thức thanh toán</span>
                        <img class="img-responsive" src="http://tala.tikicdn.com/assets/media/safe.jpg" alt="Thanh toán an toàn trên Tiki.vn">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<a target="_blank" href="http://hotro.tiki.vn/hc/vi" class="support"></a>