.b-author {
	color: #fff;
	background-color: #161616;
	.btn-cta {
		margin-top: 20px;
	}
	@media screen and (min-width:769px) {
		h2 {
			margin: 0 0 15px;
		}
	}
	img {
		@media screen and (max-width: 480px) {
			max-width: 100%;
		}
	}
	@media screen and (max-width:768px) {
		.content {
			margin-bottom: 36px;
		}
	}
}
