.b-featured {
	position: relative;

	padding: 15vh 0;

	background-color: #f3f3f3;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-size: cover;
	//background-attachment: fixed;

	@media screen and (min-width: 768px) {
		background-image: url("../img/AIR-PLANE920.jpg");
		@media #{$retina-screen} {
			background-image: url("../img/AIR-PLANE920@2x.jpg");
		}
	}
	@media screen and (min-width: 1024px) {
		background-image: url("../img/AIR-PLANE.jpg");
		@media #{$retina-screen} {
			background-image: url("../img/AIR-PLANE@2x.jpg");
		}
	}
	h2 {
		margin: 0 0 18.5px;
	}
	.question {
		font-size: 14px;
		font-weight: bold;

		margin: 33.5px 0;

		text-transform: uppercase;

		color: red;
	}
	.separator {
		width: 6.25vw;
		margin: 0 auto;
		hr {
			border-top: 1px solid #000;
		}
	}
	.answer {
		margin: 36px 0;
		p {
			margin: 18px 0;
		}
	}
	@media screen and (max-width:768px) {
		.btn-cta {
			margin-bottom: 15px;
		}
	}
}
