.b-introduction {
	padding: 8.4375vw 0 7.1875vw;

	background-color: #f3f3f3;
	.btn-cta {
		margin-top: 16px;
	}
	h1 {
		margin-bottom: 17px;
	}
	ul {
		margin: 0;
	}
	li {
		list-style: disc inside none;
	}
	picture img {
		max-width: 390px;
		@media screen and (max-width: 480px) {
			margin-left: -30px;
		}
	}
}
