.b-introduction {
	padding: 15vh 0;

	background-color: #f1f1f1;
	.btn-cta {
		margin-top: 16px;
	}
	h1 {
		margin-bottom: 17px;
	}
	ul {
		margin: 0;
	}
	li {
		list-style: disc inside none;
	}
	picture {
		display: block;
		img {
			max-width: 390px;
			@media screen and (max-width: 480px) {
				max-width: 250px;
			}
		}
		@media screen and (max-width:768px) {
			margin-top: 36px;

			text-align: center;
			img {
				margin-left: -25px;
			}
		}
	}
	.center-justify {
		text-align: center;
	}
	@media screen and (min-width:992px) {
		.center-justify {
			display: -webkit-flex; /* Safari */
			display: flex;

			-webkit-justify-content: center;
			justify-content: center;
		}
	}
}
