.matb18 {
	padding: 18px 0;
}
.btn-cta {
	font-size: 17px;
	font-weight: 600;

	padding: 17px 47px;

	border: none;
	@media screen and (max-width:768px) {
		margin-bottom: 36px;
	}
}
@media screen and (max-width: 768px) {
	h2 {
		margin-top: 36px!important;
	}
}
.btn-dark {
	color: #fff;
	background-color: #3f423c;
}
.btn-dark:hover {
	color: #fff;
	background-color: darken(#3f423c,20%);
}
.btn-light {
	color: #3f423c;
	background-color: #fff;
}
.btn-light:hover {
	color: #000;
	background-color: darken(#fff,20%);
}
.shadow {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.forced-center {
	float: none;

	margin: 0 auto;
}
.no-padding {
	padding: 0;
}
@media screen and (min-width:769px) {
	.valign {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox; /* TWEENER - IE 10 */
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		> [class*="col-sm"] {
			display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
			display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
			display: -ms-flexbox; /* TWEENER - IE 10 */
			display: -webkit-flex;
			display: flex;

			align-items: center;
			justify-content: center;
		}
	}
}
